{% extends 'store/base.html' %}
{% load static %}
{% block body %}

<!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'store/images/loading.gif' %}" alt="#" /></div>
    </div>

    <div class="wrapper">

        <!-- end loader -->
        <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#brand">Brands</a>
                    </li>
                    <li>
                        <a href="#shoes">Shoes</a>
                    </li>
                    <li>
                        <a href="#jewellery">Jewellery</a>
                    </li>
                    <li>
                        <a href="#kids">Kids and Babies</a>
                    </li>
                </ul>

            </nav>
        </div>

        <div id="content">
            <!-- header -->
            <header>
                <!-- header inner -->
                <div class="head_top">
                    <div class="header">

                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-lg-3 logo_section">
                                    <div class="full">
                                        <div class="center-desk">
                                            <div class="logo">
                                                <a href="index.html"><img src="{% static 'store/images/logo.png' %}" alt="#"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="right_header_info">
                                        <ul>
                                            <li class="menu_iconb">
                                                <a href="#"><img style="margin-right: 15px;" src="{% static 'store/icon/1.png' %}" alt="#" />7213456789</a>
                                            </li>
                                            <li class="menu_iconb">
                                                <a href="#">Log in <img style="margin-right: 15px;" src="{% static 'store/icon/5.png' %}" alt="#" /> </a>
                                            </li>
                                            <li class="menu_iconb">
                                                <a href="#">Signup<img style="margin-left: 15px;" src="{% static 'store/icon/6.png' %}" alt="#" /></a>
                                            </li>
                                            <li class="tytyu">
                                                <a href="#"> <img style="margin-right: 15px;" src="{% static 'store/icon/2.png' %}" alt="#" /></a>
                                            </li>
                                            <li class="menu_iconb">
                                                <a href="#"><img style="margin-right: 15px;" src="{% static 'store/icon/3.png' %}" alt="#" /></a>
                                            </li>

                                            <li>
                                                <button type="button" id="sidebarCollapse">
                                                    <img src="{% static 'store/images/menu_icon.png' %}" alt="#" />
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- end header inner -->

                    <!-- end header -->
                    <section class="slider_section">
                        <div class="banner_main">
                            <div class="container-fluid padding3">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mapimg">
                                        <div class="text-bg">
                                            <h1>All <br>
                                        In<br>
                                        One <br>
                                        Shop</h1>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                            <a href="#">Buy now</a>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                        <div id="myCarousel" class="carousel slide banner_Client" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="container">
                                                        <div class="carousel-caption text">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="img_bg">
                                                                        <figure><img src="{% static 'store/images/cap.png' %}" /></figure>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container">
                                                        <div class="carousel-caption text">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="img_bg">
                                                                        <figure><img src="{% static 'store/images/cap.png' %}" /></figure>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <div class="container">
                                                        <div class="carousel-caption text">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="img_bg">
                                                                        <figure><img src="{% static 'store/images/cap.png' %}" /></figure>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </header>
            <!-- Categories -->
            <div class="Categories">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h2> Categories</h2>
                                <ul class="categiri">
                                    <li><a href="{% url 'store:catagory' 'golf-clubs' %}">Golf Clubs</a></li>
                                    <li><a href="{% url 'store:catagory' 'clothing-shoes' %}">Clothing & Shoes</a></li>
                                    <li><a href="{% url 'store:catagory' 'balls-accessories' %}">Ball & Accessories</a></li>
                                    <li><a href="{% url 'store:catagory' 'gps-bags-equipment' %}">Gps, Bags & Equipment</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- news brand -->
                    <div id="brand"  class="brand-bg">
                        <h3>New brands</h3>
                        <div class="row">
                            {% for product in products|slice:"2:6" %}
                            <div class="col-3 margintop">
                                <div class="brand-box">
                                    <i><img src="{{ product.images_set.all.0.image_url }}"/>
                                </i>
                                    <h4>Price $<span class="nolmal">{{product.price}}</span></h4>

                                </div>
                                <a class="buynow" href="{% url 'store:details' product.retailer_sku %}">Buy now</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- end news brand -->
    </div>

{% endblock %}